@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 0px;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('Fonts/Roboto-Regular.ttf') format('truetype'); /* Safari, Android, iOS */   
}

body {
  width: 340px;
  height: 434px;
  background-color: #ffffff;
  border: solid 1px rgba(132, 143, 158, 0.3);
  margin: inherit;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 340px;
  height: 48px;
  background-color: #4382e7;
  border-radius: 5px 5px 0px 0px;
  align-items: center;
  font-size: 16px;
}

#call-options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93px;
  height: 21px;
  color: white;
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  margin-left: 124px;
}

#close-button{
  color: white;
  margin-right: 21px;
  font-weight: 550;
  font-size: 19px;
}

a{
  text-decoration: none
}

.grid-container {
  display: grid;
  grid-template-columns: 118px 104px 118px;
  grid-template-rows: 18px 68px 18px;
  width:340px;
  margin-top: 22px;
}

.grid-item{
  padding: 0px;
  margin: 0px;
}

.name-tag{
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 500;
  height: 18px;
}

#video-tag{
  width: 37px;
  margin-left: 64px;
}

#voice-tag{
  width: 36px;
  margin-left: 34px;
}

#chat-tag{
  width: 30px;
  margin-left: 21px;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 56px;
  border: solid 1px rgba(132, 143, 158, 0.3);
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 6px;
}

#video-box{
  margin-left: 46px;
}

#voice-box{
  margin-left: 16px;
  margin-right: 16px;
}

#chat-box {
  margin-right: 46px;
  background-color: #4cb944;
}

/*used info from https://codepen.io/Havock94/pen/XKmMKv */

.check{
  width: 16px;
  height: 16px;
  position: relative;
  outline:0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check::after{
  content: '\00D7';
  color: transparent;
  display: block;
  background: white;
  background-image: url('img/check2.svg');
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background-position: 0 20px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  border: solid 1px rgba(132, 143, 158, 0.3);
}
.check:checked:after {
  background-position: center;
}
#check1 {
  margin-left: 73px;
}

#check2 {
  margin-left: 43px;
}

#check3 {
  margin-left: 27px;
}

textarea{
  width: 272px;
  height: 116px;
  margin-left: 34px;
  margin-right: 34px;
  margin-top: 20px;
  border: solid 1px rgba(132, 143, 158, 0.3);
  border-radius: 5px;
  resize: none;
  color: #848f9e;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  vertical-align: bottom;
  font-family: "Roboto";
}

#remaining-letters{
  font-family: "Roboto";
  width: 139px;
  height: 16px;
  font-size: 12px;
  margin-left: 167px;
  margin-right: 34px;
  margin-bottom: 20px;  
}

p{
  margin-top: 0px;
  margin-bottom:0px;
  color:#848f9e;
}

#count{
  color: black;
}

input[type=submit] {
  width: 272px;
  height: 44px;
  background-color: #4382e7;
  border-radius: 5px;
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  color:white;
  font-size: 17px;
  display: block;
  margin: 0 auto;
  border: none;
}